.t-cover__arrow-svg {
    animation: mymove 1s infinite ease-in-out;
    position: relative;
    cursor:pointer;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 20px;}
  }

.t-container1 {
    width: 100%;
    display: flex;
    
}
.column_c {
    flex: 50%;
    padding: 10px;
    margin: 20px;
    width: 50%;
}
a:hover {
    text-decoration: none;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .column2 div:first-child {
    text-align: center;
  }


  .t-cover__wrapper {
      width: 80%;
      display: inline-block;
      margin-top: 200px;
  }
.btnVac {
    padding: 1em 6em;
}
.email_market {
    font-weight: 600;
    background: linear-gradient(to right, #c9365a 0%,#43206c 96%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  .btnVac:hover::after {
    z-index: 10;
    content: 'VACANCIES';
    padding: 1em 1em;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jobOpen {
    padding-top:15px;
    padding-bottom:0px;
}
.affilManag {
    background-color:#ffffff; 
    border-radius:5px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}
.t181__title {
    font-size:72px;
    line-height:1.3;
    opacity:1;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.30);
}
.t-color {
    text-transform: uppercase;
    color: #fff;
    /* background: linear-gradient(to right, #f94d4b 0%,#43206c 96%);   
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.t181__descr  {
    font-size:30px;
    opacity:1;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.80);
}
.iconsCompany11 {
    margin-left: -60px;
}
.iconsCompany22 {
    margin-left: -38px;
}
.iconsCompany33 {
    margin-left: -62px;
}
.iconsCompany44 {
    margin-left: -76px;
}
.t-cover, .t-cover__filter {
    height: 100vh;
}
@media only screen and (max-width:1100px){
    .t-container {
        padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    }
    html, body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width:600px){
    .t-descr_xl {
        font-size: 18px;
    }
  
    .t181__title {
        font-size: 62px;
        line-height: 1;
        margin-top: -50px;
    }
    .youWill {
        padding-bottom: 40px;
        
    }
}
@media only screen and (max-width:500px){
    .jobOpen {
        padding: 0px 25px 0px 25px;
    }
    .t-container1 {
        padding: 0;
    }
    .column_c {
        width: 100%;
    }
    .t-descr_xl {
        padding-bottom: 35px;
    }
    .row2 {
        flex-wrap: inherit;
    }

}
@media only screen and (max-width:419px){
    .btnVac {
        padding: 1em 4em;
    }
    .iconsCompany11 {
        margin-left: -45px;
    }
    .iconsCompany22 {
        margin-left: -28px;
    }
    .iconsCompany33 {
        margin-left: -46px;
    }
    .iconsCompany44 {
        margin-left: -56px;
    }
}
@media only screen and (max-width:400px) {
.affilManag {
    margin-top: -70px;
}
.column_c {
    padding: 0;
    margin: 0;
}
.t181__title {
    font-size:52px;
    line-height:1;
}
u {
    font-size: 20px;
}
.t-container {
    padding-left: 10px;
    padding-right: 10px;
}
.container_icon {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.t-descr {
    padding-left: 20px;
    padding-bottom: 20px;
}
}

@media only screen and (max-width:350px){
    .t-cover__wrapper {
        width: 90%;
    }
    .btnVac {
       
        padding: 1em 4em;
    }
    .email_market {
        font-size: 28px;
    }
    .row2 {
        display: block;
        padding-top: 20px;
    }
    .container_icon {
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .t-descr {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .t181__title {
        font-size: 42px;
    }
    .t181__descr {
        font-size: 20px;
        margin-top: -30px;
    }
    .btnVac {
        margin-top: 40px;
    }
   
    .jobOpen {
        padding: 0px 5px 0px 5px;
    }
}
@media only screen and (max-width:300px){
    .btnVac {
        margin-top: 120px;
    }
    .email_market {
        font-size: 22px;
    }
    u {
        font-size: 18px;
    }
    ul {
        font-size: 14px;
    }
    .t181__title {
        font-size: 42px;
        margin-top: -70px;
    }
    .t181__descr {
        font-size: 18px;
        line-height: 18px;
    }
    .t-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .youWill {
        padding: 0;

    }
  
}