#rec86459928 .tn-elem[data-elem-id="1551096180262"]{
    left: calc(50% - 300px + 150px);
    width: 300px;
    height: 55px;
}
.t396__artboard {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
body {  
    background-color: #ffffff;
}
.icon-holder {
    background:-moz-linear-gradient(top,  rgba(67, 32, 108) 0%, rgba(201, 54, 91) 100%); 
        background: -webkit-linear-gradient(top,  rgba(67, 32, 108) 0%, rgba(201, 54, 91) 100%); 
        background: linear-gradient(to bottom, rgba(67, 32, 108) 0%, rgba(201, 54, 91) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}
.iconMore1 {
    font-size: 4em;
}
.iconMore2 {
    font-size: 4em;
    margin-left: 12px !important;
}
i.fas , i.fa {
    display: inline;
    margin-left: 15px;
}
.active .icon-holder {
    background:-moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); 
        background: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 253, 253) 100%); 
        background: linear-gradient(to bottom, rgb(254, 254, 255) 0%, rgb(255, 254, 255) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}
.block_counter {
    margin-top: 200px;
}
.column1 {
    float: left;
    width: 100%;
    text-align: right;
    color:rgb(80, 78, 78);
    padding: 50px;  
    padding-left: 10%; 
    padding-right: 10%; 
    /* background:linear-gradient(136deg,  #f94e4b62, #c9365b5b, #841f6d62, #44206c69),url("../img/photo_2021-01-19_16-59-39.jpg");
    */
    background:linear-gradient(to bottom, rgba(131, 42, 77, 0.5), rgba(13, 1, 34, 0.9)),url("../img/photo_2021-01-19_16-59-39.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.row {
padding: 40px 0  0 40px;
background-color: white;
}
#rec86235125 {
    background-color: white;
}
.btn_advertisers {
    margin-top: 0px;
}
.btnPubl:hover::after {
    z-index: 10;
    content: 'Became CPARK Publisher';
    padding: 1em 1em;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pub1 h1 {
    text-transform: uppercase; 
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.pub2 {
    text-align: center;
    z-index: 3;
    top: 350px;
    left: 0;
    width: 100%;
}
.pub2 h2 {
    font-size: 30px;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
.descript_titl {
    text-align: center;
    padding: 20px;
    font-size: 38px;
    max-width: initial;
    font-weight: 700;
}
.row div:nth-child(2) h2 {
    font-weight: bold;
    font-size: 38px;
    color: rgb(80, 78, 78);
  }
  .row div:nth-child(2) {
    padding: 100px 100px
  }
  .row div:nth-child(1) img{
    width:150%;
    height:auto;
    transform: rotateY(180deg); 
    margin-top: 300px; 
    margin-left: -50%;
  }
.blockB {
    margin-top: 200px; 
    margin-left: auto; 
    margin-right: auto;
}
#rec86459928 .tn-elem[data-elem-id="1470210011265"] {
    color: #ffffff;
    text-align: center;
    z-index: 4;
    top: 336px;
    left: 10%;
    width: 80%;
}

#rec86459928 .tn-elem[data-elem-id="1481028460033"] {
    color: #ffffff;
    text-align: center;
    z-index: 5;
    top: 453px;
    left: 10%;
    width: 80%;
}

.block_counter h2 {
    position: relative;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
@media screen and (max-width:1150px){
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {     
        top: 503px;
        left: 10%;
        width: 80%;
    }
    .pub2 {       
        left: 0;
        width: 100%;
    }
}
@media only screen and (max-width:1100px){
    .row {
        padding: 0;
      }
      .row div:nth-child(2) {
        padding: 0;
    }
    .block_counter {
        margin-top: 180px;
    }
    .block_counter h2 {
        padding-bottom: 10px;
        font-size: 26px;
    }
    .counter h1 {
        font-size: 50px;
    }
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {
        top: 290px;
    }
    .pub1 h1 {
        font-size: 30px;
    }
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        top: 370px;
    }
    .pub2 h2 {
        font-size: 20px;
    }
    .blockB {
        margin-top: 150px;
    }
    .descript_titl {
        font-size: 28px;
    }
}
@media only screen and (max-width:950px){
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {       
        left: 10%;
        width: 80%;
    }
    
}
@media only screen and (max-width:800px){
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        top: 420px;
    }
    .pub1 h1 {       
        font-size: 30px;
        line-height: 40px;
    }
    .block_counter h2 {        
        padding-left: 20px;
        padding-right: 20px;
    }
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {       
        left: auto;
        width: 100%;
        text-align: center;
    }
    .pub2 {       
        left: auto;
        width: auto;
    }
    .btnPubl {
        width: 300px;
    }
    .row div:nth-child(2) {
        position: absolute;
        width: 70%;
        margin-left: 30%;
        padding-right: 20px;
    }
}
@media only screen and (max-width:550px){
    .pub1 h1 {
        line-height: 30px;
    }
    .column1  {
        padding: 0;
    }
    .pub2 h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .column1 h2,  .column1 p {
        padding: 20px;
        padding-right: 20px;
    }
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {       
       
        left: INITIAL;
        width: 90%;
        margin-left: 5%
    }
  

    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        left: 5%;
        width: 90%;
    }

 
  .row div:nth-child(2) {
    padding: 30px;
  }

  .column1 {
    width: 100%;
  }
 
  .row div:nth-child(1) img { 
    margin-top: 0; 
  }
  .block_counter {
    margin-top: 180px;
}
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {
        top: 306px;
    }
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        top: 453px;
    }
    .blockB {
        margin-top: 200px;
    }
}
@media only screen and (max-width:450px){
    .fa-gift-card.fa-4x
    {
font-size: 3em;
padding-left: 5px;
    }
    .pub2 {
        margin-top: 40px;
    }
    .pub2 h2 {
        font-size: 20px;
    }
    .row div:nth-child(2) {
        position: initial;
    }
    .row div:nth-child(2) {
        padding: 20px;
        width: 100%;
        margin-left: 0;
    }
    .row div:nth-child(2) h2 {
        font-size: 28px;
    }
    .pub1 h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        top: 440px;
    }
    .block_counter {
        margin-top: 150px;
    }
  
    .blockB {
        margin-top: 220px;
    }
 
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {
        top: 306px;
    }
}
@media only screen and (max-width:400px){
    .column1 h2, .column1 p {
        font-size: 18px !important;
    }
    .column1 {
        float: left;
    }
        .pub1 h1 {       
            font-size: 20px;
            line-height: 20px;
        }
        .pub2 h2 {
            font-size: 18px;
            line-height: 18px;
        }
        .pub2 {       
            left: inherit;
            width: inherit;
        }
        #rec86459928 .tn-elem[data-elem-id="1551096180262"] {
            left: inherit;
            width: 100%;
        }
        #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
            top: 340px;
        }
        .btnPubl {
            width: 90%;
            margin-left: 5%;
        }
       
        .resources-bonuses .column-block.active {
        display: block !important;
        }
        .resources-bonuses .resources-bonuses-slider {
            display: inline-flex !important;
        }
        .descript_titl {
            font-size: 26px;
            line-height: 26px;
            text-align: center;
        }
        
        .row div:nth-child(2) h2 {
            font-size: 25px;
        }  
   
        .pub2 {
            width: 100%;
        }
        .block_counter h2 {
            font-size: 20px;
        }
        #rec86459928 .tn-elem[data-elem-id="1470210011265"] {
            top: 266px;
        }
   
}
@media only screen and (max-width:300px){
    #rec86459928 .tn-elem[data-elem-id="1470210011265"] {
        top: 266px;
    }
    #rec86459928 .tn-elem[data-elem-id="1481028460033"] {
        top: 370px;
    }
    .pub1 h1 {
        font-size: 20px;
        line-height: 20px;
    }
    .pub2 h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .block_counter h2 {
        font-size: 20px;
    }
    
    .counter h1 {
        font-size: 40px;
    }
    .btn_advertisers {      
        width: 90% !important;
        margin-left: 5% !important;
    }
   
}